jupyter
pandas
numpy
matplotlib
numba
POT
statsmodels
tensorflow
jupyter-dash
dash-bootstrap-components
dash-cytoscape
dash
coverage
pylint
sphinx
analytics-python
getmac
sphinx-rtd-theme
releases
yfinance
mplfinance
shimmy
polygon-api-client
selenium
webdriver-manager
alpaca-trade-api
alpaca-py
git+https://github.com/AI4Finance-Foundation/FinRL.git
blinker
exchange_calendars
stockstats
stable_baselines3
gym
google_auth_oauthlib
joblib>=1.0.0,<2.0.0
scikit-learn
google
google_auth_oauthlib
google-api-python-client
